@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

:root {
    --main-color:#000000;
    --secondary-color:#0F0F13;
    --main-font-color: #ffffff;
    --secondary-font-color: #5B5B65;
    --padding-decade: 10px;
    --view-port-width-decade-two: 20vw;
    --unity-rem: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--main-color);
    font-family: "Poppins", sans-serif;
}
nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
}
.logo {
    width: var(--view-port-width-decade-two);
    /* acima tem que ser 15 e dar um jeito de arrumar com flex */
    height: 10vh;
    display: flex;
    align-items: center;
}
.logo-img {
    width: 80px;
    height: 48px;
}
.logo-name {
    font-family: 'Otomanopee One', sans-serif;
    color: var(--main-font-color);
}
.searchBar {
    width: var(--view-port-width-decade-two);
    height: 5vh;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: var(--secondary-color);
    padding: var(--padding-decade);
}
#inputBox {
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--main-font-color);
    flex: 1;
    padding-left: 8px;
    overflow: hidden;
}
.fa-search {
    color: var(--secondary-font-color);
    font-size: var(--unity-rem);
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--view-port-width-decade-two) + calc(var(--view-port-width-decade-two) / 4 ));
    padding-left: var(--padding-decade);
}
a {
    color: var(--main-font-color);
    text-decoration: none;
    
}
a:first-child{
    color: rgb(98, 107, 235);
}
.icons-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--view-port-width-decade-two) / 3 );
    /* padding-left: calc(var(--padding-decade) * 10 ); */
    /* margin-left: calc(var(--padding-decade) * 10 ); */
    margin-right: calc(var(--padding-decade) * 4 );
    font-size: 20px;
}
.fa-bell, .fa-crown, .fa-comment-alt {
    color: var(--secondary-font-color);
    cursor: pointer;
    
}
.fa-comment-alt{
    color: orange;
}
.userProfile {
    width: var(--view-port-width-decade-two);
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    margin-right: var(--padding-decade);
}
.userDetails {
    padding-left: calc(var(--padding-decade) * 1 );
}
.userH1 {
    color: var(--main-font-color);
    font-size: 1.25rem;
}
.userP {
    color: #70707C;
    font-size: 0.875rem;
}
.userImage {
    height: 7.5%;
    width: 7.5%;
    border-radius: 50%;
}
.dashboard {
    width: 17.5vw;
    height: 100vh;
    background: var(--secondary-color);
}
.features {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1px
}
.feature {
    display: flex;
    align-items: center;
    margin-top: calc(var(--unity-rem) * 4);
    margin-left: 1rem;
}
.feature p {
    color: var(--main-font-color);
    margin-left: calc(var(--unity-rem) / 2 );
    cursor: pointer;
}
.feature i {
    color: var(--main-font-color);
    cursor: pointer;
}
.streamers {
    height: 10vh;
}
.streamers p {
    font-size: calc(var(--unity-rem) * 0.75);
    color: var(--main-font-color);
    margin-left: var(--unity-rem);
    margin-top: calc(var(--unity-rem) * 3);
}
.streamers-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.streamers-img img {
    height: 10%;
    width: 10%;
    border-radius: 50%;
    margin-left: var(--unity-rem);
    margin-top: var(--unity-rem);
    cursor: pointer;
    /* display: inline;
    align-items: center;
    justify-content: center; */
}
.fa-chevron-right {
    color: var(--main-font-color);
    margin-left: var(--unity-rem);
    margin-top: var(--unity-rem);
    cursor: pointer;
}
.categories p {
    font-size: calc(var(--unity-rem) * 0.75);
    color: var(--main-font-color);
    margin-left: var(--unity-rem);
    margin-top: var(--unity-rem);
}
.categorie {
    display: flex;
    align-items: center;
}
.categorie p {
    margin-left: calc(var(--unity-rem) / 2);
    text-transform: uppercase;
}
.ponto {
    width: calc(var(--unity-rem) / 3);
    height: calc(var(--unity-rem) / 3);
    border-radius: 50%;
    margin-left: calc(var(--unity-rem) * 2);
    margin-top: var(--unity-rem);
}
.ponto:nth-child(1) {
    background: orange;
}
.ponto:nth-child(2) {
    background: white;
}